@mixin hidden {
  display: none;
}

@mixin cell-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  border: 1px solid;
  background-color: #eee;
}

@mixin visible {
  width: $cell-size;
  height: $cell-size;
  margin: 0 $margin $margin 0;
}
